<% obj.each do |production| %>
   <div class="col-md-10 margin-vertical basket-wrapper">
      <%= image_tag production.main_image,style: "width:30%",class: "left card-img" %>
      <div class = "basket-container right">
          <span class = "right", style = "color:red"><%= production.price %></span>
          <div calss = "container">
          <%= link_to production_path(production) do %>
              <h4><%= production.name %></h4>
          <% end %>
             <p><%= production.description %></p>
          </div>
          <%= link_to "削除", basket_delete_path(production), method: :post, class: "right btn btn-danger" %>

     </div>
    </div>
<% end %>
