 <div class = "margin-vertical">
 <span class = "dropdown-toggle dropdown-log right" style="margin-bottom:25px"> 購入履歴 </span>
 <div class = "display-300 row purchaselog middle" style = "clear:both;display:none">
   <h2 style="font-family:serif">購入履歴一覧</h2>
  <% @purchases.each do |datum| %>
   <%= render "basket",  basket: datum unless @purchases.empty? %>
  <% end %>
 </div>

</div>

<div class = "container">
  <h2>カート一覧</h2>
     <div class = "margin-vertical">
         <% unless @products.blank? %>
           <h5><%= basket_count %>点</h5>
           <h5>商品合計 ¥<%= basket_sum %></h5>
           <h5>+ 送料 <%= postage %></
             h5><br />
           <%= render "shared/postage_explanation" %><br />
           <div class="row basket-index">
            <%= render @baskets %>
           </div>
           <div id ="basket_sum">
            <%= render "basket_sum"%>
           </div>
        <% end %>
       </div>
    <div class = "row">
      <% if @baskets.exists? %>
      <div class="col-md-12">
         <%= link_to "レジに進む", new_purchase_path, class: "col-md-6 middle accounting-btn", data: {"turbolinks" => false}  %>
      </div>
      <% else %>
         <p class = "center">商品をカートに追加してください</p>
      <% end %>
     </div>

 </div>
