 <div class = "margin-vertical">
 <span class = "dropdown-log dropdown-toggle right "> 購入履歴</span>
 <div class = "col-12 display-400 purchaselog" style = "display:none">
    <div class = "container ">
     <h3><%= purchase_count %>点</h3>
     <h3>合計: ¥<%= purchase_sum %></h3>
     </div>
     <table class="table table-striped">
  <thead>
    <tr class = "table-success">
        <th scope="col"></th>
      <th scope="col">商品名</th>
      <th scope="col">価格</th>
      <th scope="col">購入日</th>
    </tr>
  </thead>
  <tbody>
       <% current_user.purchase_products.each do |product| %>
    <tr>
      <th scope="row"><%= product.id%></th>
      <td><%= product.name %></td>
      <td><%= product.price%></td>
      <td><%= Purchase.find_by(user_id: current_user.id, product_id: product.id).created_at.strftime("%Y年%m月%d日 %H時%M分")%></td>
    </tr>
     <% end %>
  </tbody>
</table>
</div>

</div>

<div class = "container">
     <div class = "margin-vertical">
         <% unless @products.blank? %>
           <h5><%= basket_count %>点</h5>
           <h5>商品合計 ¥<%= basket_sum %></h5>
           <h5>+ 送料 <%= postage %></h5><br />
           <%= render "shared/postage_explanation" %><br />
           合計:<h3 style = "color:red"> ¥<%= basket_sum + postage %></h3>
        <% end %>
       </div>
    <div class = "right">
      <% if current_user.baskets.exists? %>
         <%= link_to "レジに進む", new_purchase_path, class: "accounting-btn" %>
      <% else %>
         <p>商品をカートに追加してください</p>
      <% end %>
     </div>

 <div class="row basket-index">
 <%= render "product", obj: @products %>
</div>

 </div>
