<style>
#map{
  height: 350px;
}
</style>


<div id = "map">

</div>

<script>
<% current_user ||= User.new(address:"Tokyo",latitude: 35.6813208,longitude:139.765384) %>

function initMap(){

      //初期表示位置
      var latlng = new google.maps.LatLng(<%= current_user.latitude %>, <%= current_user.longitude %>);

      var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 10,
          center: latlng

      });
      var transitLayer = new google.maps.TransitLayer();
      transitLayer.setMap(map);

      var cityCircle = new google.maps.Circle(circleOptions);

      var circleOptions = {
        center: latlng,
        fillColor: 'red',
        fillOpacity: 0.2,
        map: map,
        radius: 10000,
        strokeColor: 'red',
        strokeOpacity: 0.5,
        strokeWeight: 0.5
    };

    var cityCircle = new google.maps.Circle(circleOptions);


      (function(){

        var infowindow = new google.maps.InfoWindow({
          content: "<p><%= current_user.address %></p>"+
                     "<span class = 'fas fa-home fa-lg'></span>" +
                     "<span>　自宅</span>"
        });

        var marker = new google.maps.Marker({
        	map: map,
        	position: latlng,
        	animation: google.maps.Animation.DROP,
          icon: {
        		fillColor: "royalblue",                //塗り潰し色
        		fillOpacity: 1.0,                    //塗り潰し透過率
        		path: google.maps.SymbolPath.FORWARD_CLOSED_ARROW,//円を指定
        		scale: 6,                           //円のサイズ
        		strokeColor: "white",                //枠の色
        		strokeWeight: 1.0                    //枠の透過率
        	}
        })

        marker.addListener("click", function(){
          infowindow.open(map, marker);
        });

      })();


      <% Store.all.each do |store| %>
      (function(){

        var infowindow = new google.maps.InfoWindow({
          content: "<img src = '<%= store.top_image if store.top_image %>' style = 'width:100%;height:100px'><br />"+
                   "<a href='<%= store_path(store) %>' style = 'font-size: 20px'><%= store.name %></a><br />"+
                   "<p><%= store.address %></p>",
                   maxWidth: 220

        });

        var store_marker = new google.maps.Marker({
          position:{lat: <%= store.latitude %> , lng: <%= store.longitude %>},
          map: map,
          animation: google.maps.Animation.DROP,
          icon: {
        		url: '/<%= store.top_image %>',
        		scaledSize: new google.maps.Size(40, 40)
        	},
        	optimized: false
        });

        store_marker.addListener("click", function(){
          infowindow.open(map, store_marker);
        });
      })();

      <% end %>



    };
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBKnVvlCy9D9nY3-WJ5frpbVzuZK3DIy2Y&callback=initMap""></script>
