<div class = "row">
  <div class= "col-md-8 middle">
      <h1>ログイン</h1>
    <div class = "margin-vertical">
      <%= form_for(:session, url: login_path) do |f| %>
      <%= f.label "メールアドレス" %>
      <%= f.text_field :email,class: "form-control" %><br />

      <%= f.label "パスワード" %><span style = "color:red">*</span><span id = "password-icon-toggle" class = "fas fa-eye fa-eye-slash"></span>
        <%= f.text_field :password, required: true,  type: "password", class: "password-form form-control"  %><br />

      <%= link_to "パスワードを忘れた方はこちら", new_password_reset_path %><br /><br />

          <%= f.submit "ログイン" ,class:" col-md-3 btn btn-primary", style:"margin-bottom:15px"%>
          <%= link_to "まだ登録されていない方はこちら", new_user_path, class: "right col-md-7 btn btn-secondary" %>

       <% end %>

    </div>

    <div style = "margin-top:100px">
      <h4>ゲストログイン</h4>
       <div class = "container">
        <%= link_to "管理者でログイン", guest_login_path, method: :post, class: "col-lg-4 col-md-4 btn btn-info "%>
   </div>
  </div>

</div>
