<% notice_user = notification.notice_user %>
<% if production = notification.production %><% end %>
<% if comment = notification.comment %><% end %>

 <div href="#" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <span class = "">
        <% if notice_user.profile_image.present? %>
         <%= image_tag notice_user.profile_image, class: "img-thumbnail", style: "width: 80px; border-radius: 1000px" %>
        <% else %>
          <img src="https://purchase-app-backet.s3.amazonaws.com/uploads/user-default.png" class="img-thumbnail" style="width: 100px; border-radius: 1000px" alt="Something">
        <% end %>
      </span>
      <div class="col-10">
        <h5 class="mb-1">
          <%= link_to users_path(notice_user) do %><%= notice_user.name %><% end %>が
          <% if notification.action == "購入" %>
           <%= link_to productions_path(production) do %><%= production.name %><% end %>を購入しました。
          <% elsif notification.action == "コメント"%>
            <%= comment.production.name %>に<br />
            コメントしました<br /><br />
          <%= link_to production_path(comment.production) do %><%= comment.content %><% end %>
          <% elsif notification.action == "カート"%>
           <%= production.name %>をカートに入れました。
          <% elsif notification.action == "フォロー"%>
            さんがあなたをフォローしました。
          <% end %>
        </h5>
        <midium class ="right"><%= notification.created_at.strftime("%m月%d日 %H時%M分") %></midium>
    </div>
  </div>
  </div>
