<% notice_user = notification.notice_user %>
<% if product = notification.product %><% end %>
<% if comment = notification.comment %><% end %>

 <div href="#" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <span class = "">
        <% if notice_user.profile_image.present? %>
         <%= image_tag notice_user.profile_image, class: "img-thumbnail", style: "width: 80px; border-radius: 1000px" %>
        <% else %>
          <img src="https://purchase-app-backet.s3.amazonaws.com/uploads/user-default.png" class="img-thumbnail" style="width: 100px; border-radius: 1000px" alt="Something">
        <% end %>
      </span>
      <div class="col-10">
        <h5 class="mb-1">
          <%= link_to user_path(notice_user) do %><%= notice_user.name %><% end %>が
          <% if notification.action == "purchase" %>
           <%= link_to product_path(product) do %><%= product.name %><% end %>を購入しました。
          <% elsif notification.action == "comment"%>
            <%= comment.product.name %>に<br />
            コメントしました<br /><br />
          <%= link_to product_path(comment.product) do %><%= comment.content %><% end %>
          <% elsif notification.action == "basket"%>
           <%= product.name %>をカートに入れました。
          <% elsif notification.action == "follow"%>
            さんがあなたをフォローしました。
          <% elsif notification.action == "create" %>
            新商品
            <%= link_to product_path(product) do %>
              【<%= product.name %>】
            <% end %>
            を出品しました
          <% end %>
        </h5>
        <midium class ="right"><%= notification.created_at.strftime("%m月%d日 %H時%M分") %></midium>
    </div>
  </div>
  </div>
