
  <%= form_for(@user,maltipart: true) do |f| %>
  <div class= "col-md-6 middle">
    
    <div class = "form-group">
        <%= f.label :name %><span style = "color:red">*</span>
        <%= f.text_field :name, required: true, class: "form-control" %><br />
     
        <%= f.label :email %><span style = "color:red">*</span>
        <%= f.text_field :email, required: true, class: "form-control" %><br />
        
        <%= f.label :password %><span style = "color:red">*</span><span id = "password-icon-toggle" class = "fas fa-eye fa-eye-slash"></span>
        <%= f.text_field :password, required: true,  type: "password", class: "password-form form-control"  %><br />
        
        <%= f.label "パスワードの確認" %><span style = "color:red">*</span>
        <%= f.text_field :password_confirmation,required: true, type: "password", class: "password-form form-control"%><br />
    </div>
    
    <%= f.submit "ユーザーを登録" ,class:"btn btn-primary form-control" %>
     </div>
    </div>
  <% end %>

</div>

 