<h2>これまでの売り上げ</h2>
      <h3><%= @purchase_data.count %>点</h3>
     <table class="table table-striped">
  <thead>
    <tr class = "table-success">
      <th scope="col">商品名</th>
      <th scope="col">価格</th>
      <th scope= "col">購入日</th>
      <th scope="col">購入者</th>
    </tr>
  </thead>
    <tbody>
     <% @purchase_data.each do |datum| %>
     <% product = Product.find(datum.product_id) %>
     <% user = User.find(datum.user_id) %>
    <tr>
      <td><%= link_to product_path(product) do %><%= product.name %><% end %></td>
      <td><%= product.price %></td>
      <td><%= datum.created_at.strftime("%Y年%m月%d日 %H時%M分") %></td>
      <td><%= link_to user_path(user) do %><%= user.name %><% end %></td>
    </tr>
     <% end %>
  </tbody>
 </table>

 <h2>見込み売り上げ</h2>
      <h3><%= @in_basket_data.count %>点</h3>
      <h3>合計: ¥<%= User.pay_off(@in_basket_data) %></h3>
 <div class = "display-400">
     <div class = "container">
         現在検討中
     </div>
     <table class="table table-striped">
  <thead>
    <tr class = "table-primary">
      <th scope="col">商品名</th>
      <th scope="col">価格</th>
       <th scope= "col">カート追加日</th>
      <th scope="col">検討者</th>
    </tr>
  </thead>
   <tbody>
       <% @in_basket_data.each do |datum| %>
     <% product = Product.find(datum.product_id) %>
     <% user = User.find(datum.user_id) %>
    <tr>
      <td><%= link_to product_path(product) do %><%= product.name %><% end %></td>
      <td><%= product.price %></td>
      <td><%= datum.created_at.strftime("%Y年%m月%d日 %H時%M分") %></td>
      <td><%= user.name %></td>
    </tr>
     <% end %>
  </tbody>
</table>
</div>
