<script src='https://www.google.com/recaptcha/api.js'></script>
<%= form_for(@user,maltipart: true) do |f| %>
<div class= "col-md-10 middle">

      <%= f.label :name %><span style = "color:red">*</span>
      <%= f.text_field :name, required: true, class: "form-control" %><br />

      <%= f.label "メールアドレス" %><span style = "color:red">*</span>
      <%= f.text_field :email, required: true, class: "form-control" %><br />

      <%= f.label "パスワード "%><span style = "color:red">*</span><span id = "password-icon-toggle" class = "fas fa-eye fa-eye-slash"></span>
      <%= f.text_field :password, required: true,  type: "password", class: "password-form form-control"  %><br />

      <%= f.label "パスワードの確認" %><span style = "color:red">*</span>
      <%= f.text_field :password_confirmation,required: true, type: "password", class: "password-form form-control"%><br />

      <%= reder "shared/recaptcha" %>
  </div>

  <div class="col-md-6 middle">
    <%= f.submit "ユーザーを登録" ,class:"btn btn-primary form-control" %>
  </div>

<% end %>
