<%= render "shared/explanation" %>


<div>
    <%= form_tag payment_path, id: "payForm" do %>
    <script src="https://checkout.stripe.com/checkout.js"></script>

    <%= hidden_field_tag "stripeToken" %>
     <%= hidden_field_tag "stripe_email" %>
      <%= hidden_field_tag 'amount',1000 %>
    <%= hidden_field_tag "user_id", current_user.id %>

    <button id = "btn-pay" type = "button" class = "btn btn-primary">支払いをする</button>

    <script>

      stripe.confirmCardPayment(clientSecret, {
        payment_method: {
          card: card,
          // billing_details: {
          //   name: 'Jenny Rosen'
          // }
        },
        setup_future_usage: 'off_session'
      }).then(function(result) {
        if (result.error) {

          console.log(result.error.message);
        } else {
          if (result.paymentIntent.status === 'succeeded') {

          }
        }
      });

      stripe.confirmCardPayment(intent.client_secret, {
        payment_method: intent.last_payment_error.payment_method.id
      }).then(function(result) {
        if (result.error) {

          console.log(result.error.message);
        } else {
          if (result.paymentIntent.status === 'succeeded') {
          }
        }
      });

    var handler = StripeCheckout.configure({
        key: "<%= ENV["publishable_key"] %>",
        locale : "auto",
        currency: "jpy",
        panelLabel:"オーナーアカウント登録",
        allowRemember: true,
        token: function(token, arg){
            document.getElementById("stripeToken").value = token.id;
            document.getElementById("stripe_email").value = token.email;
            document.getElementById("payForm").submit();
        }
    });


    document.getElementById("btn-pay").addEventListener("click", function(e){
        handler.open({
            description: "1000円",
            amount: 1000
        });
        e.preventDefault();
    })

    </script>
<% end %>
</div>
