<div class="row">
    <% obj.each do |production| %>
      <div class="col-6 col-md-3 pd-5  margin-vertical">
        <div class="shadow">
            <% if production.main_image %>
              <%= image_tag production.main_image , class: "long-img"%>
             <% else %>
              <img class="wide-img" src="https://purchase-app-backet.s3-ap-northeast-1.amazonaws.com/uploads/no-image.jpg" alt="Something">
            <% end %>
            <%= link_to production_path(production) do %>
          <div class="card-body">
                <h5 ="card-title"><%= production.name %></h5>
                <span>¥<%= production.price %></span>
                <% if current_user %>
                    <span class = "production-basket-<%= production.id %>">
                      <%= render "productions/cart_link", production: production %>
                    </span>
                <% else %>
                    <%= link_to production_path(production) do%>
                      <button type="button" class="right btn", style = "background-color: orange">追加</button>
                    <% end %>
                <% end %>
          </div>
          <% end %>
      </div>
      </div>
    <% end %>
</div>
