
    <div>
    <%= form_tag purchaces_path ,method: :post, id: "payForm" do %>
    <script src="https://checkout.stripe.com/checkout.js"></script>
    
    <%= hidden_field_tag "stripeToken" %>
     <%= hidden_field_tag "stripe_email" %>
      <%= hidden_field_tag 'amount', basket_sum(current_user)%>
    <%= hidden_field_tag "user_id", current_user.id %>
    
    <%= render "shared/explanation" %>
  
    <button id = "btn-pay" type = "button" class = "btn btn-primary"> 以下の内容で支払いをする</button>
    
     <div>
        
 <div class="row basket-index">
 <%= render "baskets/production", obj: @productions %>
</div>

    </div>
   
    <script>
    var handler = StripeCheckout.configure({
        key: "<%= ENV["publishable_key"] %>",
        locale : "auto",
        currency: "jpy",
        panelLabel: "商品の購入",
        allowRemember: true,
        token: function(token, arg){
            document.getElementById("stripeToken").value = token.id;
            document.getElementById("stripe_email").value = token.email;
            document.getElementById("payForm").submit();
        }
    });
    
    document.getElementById("btn-pay").addEventListener("click", function(e){
        handler.open({
            description: "ご購入のお支払い",
            amount: document.getElementById("amount").value
        });
        e.preventDefault();
    })
    
    </script>
<% end %>
</div>
