<% if prices.is_a?(String) %>
  <div class="compare margin-vertical"><%= prices %></div>
<% else %>
  <% prices.each do |price| %>
  <% average = price["Average"]
     site = price["Site"]
  %>
  <% diff = average - product.price %>
  <% diff > 0 ? text = "安い"
     : diff < 0 ? text = "高い"
     :  "同価格" %>
     <table class="table table-striped">
  <thead>
    <tr class = "table-info">
      <th scope="col">商品名</th>
      <th scope="col">比較サイト</th>
      <th scope= "col">平均</th>
      <th scope="col">最高</th>
      <th scope="col">最安</th>
      <th scope="col">評価</th>
    </tr>
  </thead>
    <tbody>
    <tr>
      <td><%= link_to product_path(product) do %><%= product.name %><% end %></td>
      <td><%= site %></td>
      <td><%= average %></td>
      <td><%= price["Max"] %></td>
      <td><%= price["Min"] %></td>
      <td><%= "¥#{diff.abs} #{text}" %></td>
    </tr>
  </tbody>
 </table>
  <% end %>
<% end %>
