 <%= form_for @product do |f| %>
    <div class = "form-group ">
      <div class = "row">
        <div class = "col-md-4 center">
           <h4>メインイメージ</h4>
            <div class = "middle">
              <%= hidden_field :all, Product.all %>
              <% if @product.main_image.present? %>
                <%= image_tag @product.main_image, class: "input-image", id: "main_img_output"%>
              <% else %>
                <img class = "rounded input-image", id="main_img_output">
              <% end %>

               <div class = "margin-vertical">
                 <%= f.label :main_image, "+ 画像をアップ", class: "image-up" %>
                 <%= f.file_field :main_image, class: "upfile", style: "display: none"%>
               </div>
            </div>
        </div>
        <div class = "col-md-4 center">
          <h4>サブイメージ1</h4>
            <div class = "middle">
               <% if @product.sub_image1.present? %>
                <%= image_tag @product.sub_image1, class: "input-image", id: "sub_img1_output"%>
                <% else %>
               <img class = "rounded input-image", id="sub_img1_output">
               <% end %>

              <div class = "margin-vertical">
               <%= f.label :sub_image1, "+ 画像をアップ", class: "image-up"%>
               <%= f.file_field :sub_image1, class: "upfile", style: "display: none"%>
              </div>
            </div>
        </div>
        <div class = "col-md-4 center">
          <h4>サブ画像2</h4>
          <div class = "middle">
            <% if @product.sub_image2.present? %>
        　    <%= image_tag @product.sub_image2, class:"input-image", id: "sub_im2g_output" %>
            <% else %>
             　<img class = "rounded input-image", id="sub_img2_output">
　           <% end %>

            <div class = "margin-vertical">
               <%= f.label :sub_image2, "+ 画像をアップ", class: "image-up" %>
               <%= f.file_field :sub_image2, class: "upfile", style: "display: none"%>
            </div>
          </div>
      </div>
    </div>
    <div class="container">
          <div class="form-group">
              <div class = "row">
          <div class = "col-md-6">
            <%= f.label "商品名" %>
            <span style = "color:red">*</span>
            <%= f.text_field :name, required: true, class: "form-control",maxlength: 20 , id: "exampleInputEmail1" %>
          </div>
          <div class = "col-md-4"><%= f.label "価格"%>
            <%= f.text_field :price, required: true, class: "form-control"%>
          </div>
        </div>
           <div class="form-group">
            <div class = "col-11">
            <%= f.label "説明"%>
            <%= f.text_area :description, required: true,class: "form-control",maxlength: 1000 ,style: "height:250px" %>
            </div>
          </div>
          <div class="row">
            <div class = "col-sm-5">
              <label>カテゴリー</label><br />
              <%= f.select(:category, options_for_select(categories), class: "form-control", include_blank: "未選択", selected: "生活") %>
            </div>
            <div class = "col-sm-3 col-sm-offset-2">
              <label>現在の在庫</label>
              <%= f.number_field :count, required: true, class: "form-control" %><br>
            </div>
          </div>

          <div class="margin-vertical">
            <%= render "shared/recaptcha" %>
          </div>

         <div class = "form-group center">
          <%= f.submit "商品を保存", class: "btn btn-primary",data: { disable_with: "送信中..." } %>
         </div>
        </div>
      </div>
    <% end %>
